{%    load static    %}

<footer class="pt-4 navbar-custom text-light" style="background-color:#b0daff">
    <div class="container-fluid text-center text-md-left">

      <div class="row">

        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">
            <img src="{%static 'img\logo1.jpg'%}"  class="img-brand" >
            best IceCream
          </h5>
          <p>Order what you want, and get it wherever you are.</p>
        </div>

        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-3 mb-md-0 mb-3">

          <h5 class="text-uppercase">Delivery Service</h5>

          <ul class="list-unstyled">
            <li><a href="tel:050607080">050607080</a></li>
          </ul>

        </div>

        <div class="col-md-3 mb-md-0 mb-3">

          <h5 class="text-uppercase">Join Us</h5>

          <ul class="list-unstyled">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">YouTube</a></li>
            <li><a href="#">Twitter</a></li>
          </ul>

        </div>

      </div>

    </div>

    <div class="text-center py-3">
       best IceCream
    </div>

  </footer>